#goTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(135, 96, 243);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
/*==============================================================*/

.menuContain {
    height: 100%;
}

.menuContain>li {
    border: none;
    border-left: 3px inset rgba(133, 122, 122, 0.418);
    list-style: none;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}
.menuContain>.blankSpace {
    border: none;
}

.menuContain>li:hover {
    background-color: #6666ff;
}
.menuContain>.blankSpace:hover {
    background-color: #0099ff;
}

a {
    outline: none !important;
}

.menuContain li a {
    height: 100%;
    display: block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}