#navDropdownMenu ul {
	-webkit-font-smoothing: antialiased;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

#navDropdownMenu li {
    text-align: center;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
    height: 50px;
    width: 200px;
    list-style-type: none;
}

#navDropdownMenu a {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 0px;
    height: 100%;
    width: 170px;
	display: block;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#navDropdownMenu li:hover a {
	background: #6666ff;
}

#navDropdownMenu li ul {
	float: left;
	left: 0;
	width:150%;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 10;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#navDropdownMenu li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}

#navDropdownMenu li ul li {
	float: none;
	width: 100%;
}

#navDropdownMenu li ul a:hover {
	background-color: #0099ff;
}

#dropDown {
    width: 170px;
    border: none;
    border-left: 3px inset rgba(133, 122, 122, 0.418);
    list-style: none;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}

/* Clearfix */
.cf:after, .cf:before {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}