#searchBar {
    border: none;
    position: absolute;
    right: 50px;
    width: 500px;
    height: 50px;
}

#searchBox {
    margin: 5px;
    padding-left: 15px;
    border: 1px inset gray;
    border-radius: 5px;
    text-align: left;
    width: 480px;
    height: 38px;
}