<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Hello, {{ username }}</h2>
<h2> Phone number : {{ phone }}</h2>
<h2> Role : {{ role_name }}</h2>

<table class="table">
    <tr>
        <th>Account Id      </th>
        <th>Balance         </th>
        <th>Account Status  </th>
        <th>Role of Account </th>
    </tr>
    {% for s in account %}
    <tr>
        <td>{{ s['account_id'] }}</td>
        <td>{{ s['balance'] }} </td>
        <td>{{ s['account_status'] }}</td>
        <td>{{ s['role'] }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>