<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Account Unlocked By Clerk</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.acc_unlock.label }}<br>
            {{ form.acc_unlock(size=32) }}<br>
        </p>

        <p>
            {{ form.reason_unlock.label }}<br>
            {{ form.reason_unlock(size=40) }}<br>
        </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>
