<!DOCTYPE html>

<html>
    <meta charset="UTF-8">
    <head >
        <link href="/favicon.ico" type="image/x-icon" rel="icon" />
        <link rel="stylesheet" href="../static/bodyWeb/bodyWeb.css"/>

        <link rel="stylesheet" href="../static/topWeb/headStyles.css"/>
        <link rel="stylesheet" href="../static/inputInforms/design.css"/>
    </head>
    <body>
        <div id="divBody">
            <div id="centerPageContain" style="height: 200px !important;">
                <br>
                <div class="message" style="color: red;">
                    <h2 class="confirm-inform">{{ message }}</h2>
                </div>

                <div class="property-contain" style="position: relative; top: 20px;">
                    <input type="button" value="Ô-Kê" id="submitBtn">
                </div>
            </div>
        </div>

        <script>
            var logStatus = '{{logStatus}}';
            document.getElementById("submitBtn").onclick = function() {
                if (logStatus == 1) window.location.href = "{{url_for('show_main_page')}}";
                else window.location.href = "{{url_for('show_user_info')}}";
            }
        </script>
    </body>
</html>